.calculadora {
    width: 200px;
    background-color: lightgray;
    border: 1px solid gray;
    padding: 5px;
}

p.resultado {
    background-color: white;
    color: black;
    height: 20px;
    text-align: center;
    line-height: 100%;
    padding-top: 5px;
}

.botones.numero {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.botones.numero button {
    width: 33%;
    height: 30px;
}

.botones.numero button:last-child {
    width: 100%;
    height: 30px;
}

.botones.calculo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.botones.calculo button {
    width: 25%;
    height: 30px;
}

.botones.calculo button:last-child {
    width: 100%;
}