<div class="calculadora">
    <p class="resultado">
        {{resultado}}
    </p>
    <div class="botones numero">
        <button (click)="onClick($event)">1</button>
        <button (click)="onClick($event)">2</button>
        <button (click)="onClick($event)">3</button>
        <button (click)="onClick($event)">4</button>
        <button (click)="onClick($event)">5</button>
        <button (click)="onClick($event)">6</button>
        <button (click)="onClick($event)">7</button>
        <button (click)="onClick($event)">8</button>
        <button (click)="onClick($event)">9</button>
        <button (click)="onClick($event)">0</button>
    </div>
    <div class="botones calculo">
        <button (click)="onClick($event)">+</button>
        <button (click)="onClick($event)">-</button>
        <button (click)="onClick($event)">*</button>
        <button (click)="onClick($event)">/</button>
        <button (click)="onResultado()">=</button>
    </div>
</div>