<h1>{{ mensaje }}</h1>
<h2>Subtitulo</h2>
<p>{{mensaje}}</p>
<p>{{1+1}}</p>
<p>El método me devuelve: {{mostrarSaludo()}}</p>
<p id='prefijo-{{identifParrafo}}-sufijo'>Párrafo para modificar atributos</p>
<p [id]="identifParrafo">Otro párrafo</p>
<input [type]="identifInput">