<h1>Cabecera</h1>
<app-main [texto]='mainTexto'></app-main>
<!-- <div>
    <formulario (tareaCreada)="onTareaCreada($event)"></formulario>
</div>
<div>
    <lista [tareas]="arrTareas"></lista>
</div> -->
<!-- <input type="text" [(ngModel)]="campoTexto">
<p>{{ campoTexto }}</p>
<p>
    <button (click)="onClick()">Cambia valor variable</button>
</p>

<div>
    <input type="text" [(ngModel)]="persona.nombre">
    <input type="text" [(ngModel)]="persona.apellido">
    <input type="text" [(ngModel)]="persona.edad">
</div>
<p>Me llamo {{persona.nombre}} {{persona.apellido}} y tengo {{persona.edad}} años</p> -->

<!-- <alerta [texto]="titulos[0]" subTitulo="Este es el primero" (alertaPulsada)="onAlertaPulsada($event)">

</alerta>
<alerta [texto]="titulos[1]"></alerta>
<alerta [texto]="titulos[2]" subTitulo="Este es el tercero" (alertaPulsada)="onAlertaPulsada($event)"></alerta> -->

<!-- <sumar [a]="elementos[0]" [b]="elementos[2]"></sumar>
<sumar [a]="elementos[1]" [b]="elementos[3]"></sumar> -->

<!-- <cronometro [inicio]='elementos[0]' (alertaCronometro)="onAlertaCronometro($event)"></cronometro>
<cronometro [inicio]='elementos[1]' (alertaCronometro)="onAlertaCronometro($event)"></cronometro>
<cronometro [inicio]='elementos[2]' (alertaCronometro)="onAlertaCronometro($event)"></cronometro>
<cronometro [inicio]='elementos[3]' (alertaCronometro)="onAlertaCronometro($event)"></cronometro> -->