.formulario {
    width: 300px;
    background-color: orange;
    border: 1px solid black;
    padding: 5px;
    /* display: flex; */
    /* justify-content: center; */
}

.campos {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    /* flex-direction: column; */
    /* justify-content: center; */
}

.enviar {
    margin: auto;
}

.enviar button {
    background-color: green;
}