<div class="formulario">
    <!-- <div class="campos">
        <p>Título</p>
        <input type="text" [(ngModel)]="tarea.titulo">
        <p>Descripción</p>
        <input type="text" [(ngModel)]="tarea.descripcion">
    </div>
    <div class="enviar">
        <button (click)="onClickEnviar()">Enviar</button>
    </div> -->
    <div>
        <label> Título </label>
        <input type="text" [(ngModel)]="nuevaTarea.titulo">
    </div>
    <div>
        <label> Descripción </label>
        <input type="text" [(ngModel)]="nuevaTarea.descripcion">
    </div>
    <button (click)="onClick()">Enviar</button> {{nuevaTarea | json}}
</div>