<button (click)="onClick($event)">Pulsa!!</button>
<select (change)="onChange($event)">
    <option value="uno">Unos</option>
    <option value="dos">Dos</option>
    <option value="tres">Tres</option>
</select>
<div class="cuadradado" (mouseenter)="onMouseEnter()" (mouseout)="onMouseOut()">
    {{mensaje}}
</div>
<input type="text" (change)="onChangeInput($event)" (input)="onInput($event)" (focus)="onFocus()" (blur)="onBlur()">